
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
  font-size: 14px;
}

body {
  margin-bottom: 60px;
}

.salty-navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

#salty-search {
    width: 20rem;
    overflow: hidden;
}

.salty-search-container {
    width: 20rem;
}

.salty-logo-container {
    width: 100rem;
    text-align: center;
}

.salty-logo {
    color: whitesmoke;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2.6rem;
    font-variant: small-caps;
    font-family: Times, Times New Roman, serif;
    text-shadow: 0.06rem 0.06rem #888;
}

.salty-logo:hover {
    color: whitesmoke;
    text-decoration: none;
}

.salty-navbar nav {
    font-family: 'Lora', georgia, serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
